.container {
  .inputs {
    @include flexbox(24px, column, flex-start, stretch);
    margin-bottom: 40px;
  }

  .buttonContainer {
    @include flexbox(12px, row);
    width: fit-content;
    margin: 0 auto;
  }
}
