$black: var(--black);
$gray-brt1: var(--gray-brt1);
$gray-brt2: var(--gray-brt2);
$gray-brt3: var(--gray-brt3);
$gray-brt4: var(--gray-brt4);
$gray-brt5: var(--gray-brt5);
$gray-brt6: var(--gray-brt6);
$white: var(--white);
$red: var(--red);
$blue: var(--blue);
