.container {
  @include flexbox(40px, column, flex-start, stretch);
  width: 520px;

  .inputs {
    @include flexbox(32px, column, flex-start, stretch);
  }

  .buttonContainer {
    .text {
      @include glyph12Regular;
      margin-bottom: 12px;
      color: $red;
    }
  }
}
